<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.brain.watcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ brain_home }}/bin/_brain-watcher-fg</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ user_home }}</string>
        <key>PATH</key>
        <string>{{ pipx_bin_dir }}:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>BRAIN_VAULT_PATH</key>
        <string>{{ vault_path }}</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>WorkingDirectory</key>
    <string>{{ brain_home }}</string>
    <key>StandardOutPath</key>
    <string>{{ brain_home }}/logs/com.brain.watcher.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ brain_home }}/logs/com.brain.watcher.err.log</string>
</dict>
</plist>
